<ion-view view-title="{{titulo}}">
<ion-content class="">
      <div class="row header_logo">
        <div class="col text-center">
          <img class="title-image" src="img/logo2.png" />
        </div>
        <div class="col text-center title_text_header">
          <h2>Sales InfoPartner</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img class="full-image" src="img/ipad_resize.png">
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <h5 class="letra_azul">Bienvenido {{usuario.nombre}}</h5>
        </div>
        <div class="col text-center">
          <h5 class="letra_azul">Pedidos pendientes de sincronizar </h5>
          <i class="icon ion-ios-cart"></i> {{usuario.pedidos}}
        </div>
      </div>
      <div class="row">
        <div class="col col_menu">
          <button class="button button-large button-block button-positive">
            <i class="icon ion-briefcase"></i>
            Clientes
          </button>
        </div>
        <div class="col col_menu">
          <button class="button button-large button-block button-positive">
            <i class="icon ion-images"></i>
            Catálogo
          </button>       
        </div>
      </div>
      <div class="row">
        <div class="col col_menu">
          <button class="button button-large button-block button-positive">
            <i class="icon ion-chatbox"></i>
            Prospecto
          </button>          
        </div>
        <div class="col col_menu">
          <button class="button button-large button-block button-positive">
            <i class="icon ion-ios-gear"></i>
            Sistema
          </button>        
        </div>
      </div>  
 </ion-content>   
</ion-view>
